<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="###" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="###" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>

		<add key="smtpHost" value="####" />
		<add key="smtpPort" value="###" />
		<add key="logPath" value="C:\###" />
		<add key="logFile" value="\###" />
		<add key="smtpCredential" value="###" />
		<add key="smtpPass" value="###" />
		<add key="senderEmail" value="###" />

		<!--Product-->
		<add key="userId" value="###" />
		<add key="accountId" value="###" />
		<add key="integrationKey" value="###0" />
		<add key="rsaKey" value="C:\###" />
		<add key="authServer" value="###" />
		<add key="basePath" value="https://na4.docusign.net/restapi" />

	</appSettings>

	<connectionStrings>
		<!-- Production Enviroment -->
		<add name="DefaultConnection" connectionString="Data Source=0.0.0.0;Initial Catalog=###;Persist Security Info=True;User ID=###;Password=###;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		
	</connectionStrings>
	
</configuration>