





<div class="col-lg-12">
    <div class="form-group">
        <label>Please click Browse button to select file</label>

        <div class="input-group">
            <input type="text" class="form-control " disabled placeholder="Upload Images, Documents, Files">
            <span class="input-group-btn">
                <button class="browse btn btn-primary " type="button"><i class="fa fa-search"></i> Browse</button>
            </span>
        </div>
        <input type="file" name="ImageFile" id="ImageFile" class="file">
    </div>
</div>
