@model HFund.Web.Models.ForgetPasswordModel

@{
    ViewBag.Title = "Validate Password Token";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>  @HFund.Utility.ServerConfiguration.CorporateName | Validate Password Token </title>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="passwordBox animated fadeInDown">


            <div class="row">

                <div class="col-md-12">

                    <div class="ibox-content">

                        <center> <h2 class="font-bold">Ontario Health Toronto</h2></center>

                        <center> <h3 class="font-bold">Validate Password Token</h3></center>

                        <br />

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <b>Invalid password token, or token expired.</b> 
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                    <span class="text-danger"> @ViewBag.Message </span>
                            </div>
                        </div>

            
                    </div>

                </div>

            </div>


            <hr />
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right">

                </div>
            </div>


        </div>

    }


</body>

</html>





